Repository googleapis/python-speech, pull requests merged in 2020-12, with the labels that each got.

#89 docs: updated setup documentation to point to python-speech instead of python-docs-samples
  samples/microphone/README.rst
  samples/snippets/README.rst
Labels: api: speech, cla: yes, samples

#94 chore: updated quickstart
  samples/snippets/profanity_filter.py
  samples/snippets/profanity_filter_test.py
  samples/snippets/quickstart.py
  samples/snippets/transcribe_async.py
Labels: api: speech, cla: yes, samples

#95 fix: Remove incorrect comment on enhanced models
  samples/snippets/transcribe_enhanced_model.py
Labels: api: speech, cla: yes

#96 feat: adds new multi region sample
  samples/snippets/multi_region.py
  samples/snippets/multi_region_test.py
  samples/snippets/profanity_filter.py
  samples/snippets/transcribe_async.py
Labels: api: speech, cla: yes, samples

#91 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: speech, automerge, cla: yes, samples

#100 feat: add common resource helpers; expose transport; remove gRPC send/recv limits
  docs/speech_v1/types.rst
  docs/speech_v1p1beta1/types.rst
  google/cloud/speech_v1/services/speech/async_client.py
  google/cloud/speech_v1/services/speech/client.py
  google/cloud/speech_v1/services/speech/transports/__init__.py
  google/cloud/speech_v1/services/speech/transports/grpc.py
  google/cloud/speech_v1/services/speech/transports/grpc_asyncio.py
  google/cloud/speech_v1/types/__init__.py
  google/cloud/speech_v1p1beta1/services/speech/async_client.py
  google/cloud/speech_v1p1beta1/services/speech/client.py
  google/cloud/speech_v1p1beta1/services/speech/transports/__init__.py
  google/cloud/speech_v1p1beta1/services/speech/transports/base.py
  google/cloud/speech_v1p1beta1/services/speech/transports/grpc.py
  google/cloud/speech_v1p1beta1/services/speech/transports/grpc_asyncio.py
  google/cloud/speech_v1p1beta1/types/__init__.py
  google/cloud/speech_v1p1beta1/types/resource.py
  noxfile.py
  scripts/fixup_speech_v1_keywords.py
  scripts/fixup_speech_v1p1beta1_keywords.py
  synth.metadata
  tests/unit/gapic/speech_v1/test_speech.py
  tests/unit/gapic/speech_v1p1beta1/test_speech.py
Labels: api: speech, cla: yes, context: partial

#101 chore: update templates
  .coveragerc
  .flake8
  .kokoro/docs/common.cfg
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/test-samples.sh
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/conf.py
  google/cloud/speech_v1/services/speech/async_client.py
  google/cloud/speech_v1/services/speech/transports/base.py
  noxfile.py
  samples/microphone/noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: speech, automerge, cla: yes, context: partial

#102 chore: reorder exceptions
  google/cloud/speech_v1/services/speech/async_client.py
  google/cloud/speech_v1/services/speech/transports/base.py
  synth.metadata
Labels: api: speech, cla: yes, context: none
