Repository googleapis/python-speech, pull requests merged in 2021-03, with the labels that each got.

#103 chore: add constraints file
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
Labels: api: speech, automerge, cla: yes

#117 test: install pyopenssl for mtls testing
  noxfile.py
  synth.metadata
Labels: api: speech, cla: yes, context: full

#121 feat: adds model adaptation sample
  samples/microphone/README.rst
  samples/microphone/noxfile.py
  samples/snippets/README.rst
  samples/snippets/multi_region.py
  samples/snippets/noxfile.py
  samples/snippets/speech_model_adaptation_beta.py
  samples/snippets/speech_model_adaptation_beta_test.py
  samples/snippets/transcribe_async.py
Labels: api: speech, cla: yes, samples

#127 chore: update templates
  google/cloud/speech_v1p1beta1/__init__.py
  renovate.json
  samples/microphone/noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: speech, cla: yes, context: partial

#130 build(python): fail nox sessions if a python version is missing
  noxfile.py
  synth.metadata
Labels: api: speech, cla: yes, context: full

#128 feat: Support output transcript to Google Cloud Storage for LongRunningRecognize
  google/cloud/speech_v1/types/__init__.py
  google/cloud/speech_v1p1beta1/__init__.py
  google/cloud/speech_v1p1beta1/proto/cloud_speech.proto
  google/cloud/speech_v1p1beta1/proto/cloud_speech_adaptation.proto
  google/cloud/speech_v1p1beta1/services/adaptation/async_client.py
  google/cloud/speech_v1p1beta1/services/adaptation/client.py
  google/cloud/speech_v1p1beta1/types/__init__.py
  google/cloud/speech_v1p1beta1/types/cloud_speech.py
  scripts/fixup_speech_v1p1beta1_keywords.py
  synth.metadata
  tests/unit/gapic/speech_v1p1beta1/test_adaptation.py
Labels: api: speech, cla: yes, context: partial

#134 fix: use correct retry deadline
  google/cloud/speech_v1/services/speech/async_client.py
  google/cloud/speech_v1/services/speech/transports/base.py
  google/cloud/speech_v1/services/speech/transports/grpc.py
  google/cloud/speech_v1/services/speech/transports/grpc_asyncio.py
  google/cloud/speech_v1p1beta1/services/adaptation/transports/base.py
  google/cloud/speech_v1p1beta1/services/adaptation/transports/grpc.py
  google/cloud/speech_v1p1beta1/services/adaptation/transports/grpc_asyncio.py
  google/cloud/speech_v1p1beta1/services/speech/async_client.py
  google/cloud/speech_v1p1beta1/services/speech/transports/base.py
  google/cloud/speech_v1p1beta1/services/speech/transports/grpc.py
  google/cloud/speech_v1p1beta1/services/speech/transports/grpc_asyncio.py
  synth.metadata
Labels: api: speech, cla: yes, context: partial

#137 chore: update templates
  .pre-commit-config.yaml
  google/cloud/speech_v1p1beta1/__init__.py
  noxfile.py
  synth.metadata
Labels: api: speech, cla: yes, context: partial
