Repository googleapis/python-speech, pull requests merged in 2022-10, with the labels that each got.

#452 fix: remove SpeechHelpers from STT V2 client library
  google/cloud/speech_v2/__init__.py
  owlbot.py
Labels: api: speech, size: s

#455 chore: update .repo-metadata.json
  .repo-metadata.json
Labels: api: speech, size: xs

#450 docs(samples): add create_recognizer code sample
  samples/snippets/create_recognizer.py
  samples/snippets/create_recognizer_test.py
Labels: api: speech, samples, size: m

#451 docs(samples): add quickstart code sample for STT V2
  samples/snippets/quickstart_v2.py
  samples/snippets/quickstart_v2_test.py
  samples/snippets/resources/audio.wav
Labels: api: speech, samples, size: m

#456 fix(deps): allow protobuf 3.19.5
  setup.py
  testing/constraints-3.7.txt
Labels: api: speech, size: xs
